/* Adjust the main Swiper container height for products */
.product-swiper.swiper {
  height: 500px;
  border-radius: 1.5rem;
}

/* Remove default Swiper styles for the wrapper to let flexbox manage it */
.product-swiper .swiper-wrapper {
  align-items: center;
}

/* Custom CSS for hiding the scrollbar */
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
